@import "tailwindcss";

/* make footer sticks to bottom  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}
.login-card-container {
  display: grid;
  place-items: center;
  height: 100vh;
}
.common-card {
  @apply bg-white shadow-md rounded-lg p-6 w-full max-w-md;
}
